[mysqld]
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/tmp/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

#log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid